@font-face {
	font-family: "PT Sans";
	src: url(../font/PTSansRegular/PTSansRegular.woff) format("woff");
	font-style: normal;
	font-weight: 400;
}
  @font-face {
  	font-family: "PS Sans Bold";
  	src: url(../font/PTSansBold/PTSansBold.woff) format("woff");
  	font-style: normal;
  	font-weight: 700;
  }

 @font-face {
 	font-family: "PT Sans Italic";
 	src:url(../font/PTSansItalic/PTSansItalic.woff) format("woff");
 	font-style: italic;
 	font-weight: 400;
 }

body {
	box-sizing: border-box;
	background-color: #ffcd34; 
}


.wrapper {
	margin: 0 auto;

}

.header {
	max-width: 940px;
	margin: 0 auto;
	display: flex;
	box-sizing: border-box;
	padding-top: 20px;
	padding-bottom: 20px;
}

.cols-1 {
	width: 30%;
}

.cols-2 {
	width: 70%;
	display: flex;
}

.header-logo {
	position: relative;
}

.header-logo:before {
	content: '';
	position: absolute;
	background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
   	width: 47px;
    height: 36px;
    background-position: -256px -5px;
}

.header-title {
	font-family: 'PS Sans Bold', sans-serif;
	font-size: 28px;
	padding-left: 60px;
}
.header-title span {
	font-family: 'PS Sans', sans-serif;
	font-size: 28px;
	font-weight: lighter;
	letter-spacing: 1px;
}

.header-nav {
	width: 70%;
}

ul {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	padding-left: 0px;
}

.header-btn {
	width: 30%;
}
.header-btn a {
	text-decoration: none;
	color: black;
}

.warning-line::after {
	content: '';
	position: absolute;
    width: 100%;
    height: 15px;
    top: 75px;
    left: 0px;
    background: linear-gradient(135deg, rgba(0,0,0, 0) 50%, #000 50%, #000 80%, rgba(0,0,0, 0) 80%), linear-gradient(135deg, #000 25%, rgba(0,0,0, 0) 25%);
    background-size: 2em 2em;
    background-color: #ffcd34;
}

.promo {
	background-image: url(../img/bg_promo.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.promo-container {
	width: 940px;
	margin: 0 auto;
	padding: 150px;
	box-sizing: border-box;
	text-align: center;
}

.promo-hide {
	display: none;
}

.promo-title{
	font-family: 'PS Sans', sans-serif ;
	text-transform: uppercase;
	font-size: 36px;
	color: white;
}

.promo-subtext {
	font-family: 'PS Sans', sans-serif;
	font-size: 16px;
	color: white;
	font-weight: lighter;
}

.promo-btn {
  	font-family: 'PS Sans Bold', sans-serif;
  	font-size: 16px;
  	text-align: left;
  	border: 2px solid #ffcd34;
  	margin-top: 40px;
  	padding: 10px;
  	width: 220px;
  	display: inline-block;
  	box-sizing: border-box;
  	
}

.promo-btn a {
  text-decoration: none;
  color: white;
}

.promo.warning-line::after {
    top: 560px;

}

footer {
	background-color: #202e3b;
}

.__container {
	width: 940px;
	display: flex;
	margin: 0 auto;
}



