@font-face {
	font-family: "PT Sans";
	src: url(../font/PTSansRegular/PTSansRegular.woff) format("woff");
	font-style: normal;
	font-weight: 400;
}
  @font-face {
  	font-family: "PS Sans Bold";
  	src: url(../font/PTSansBold/PTSansBold.woff) format("woff");
  	font-style: normal;
  	font-weight: 700;
  }

 @font-face {
 	font-family: "PT Sans Italic";
 	src:url(../font/PTSansItalic/PTSansItalic.woff) format("woff");
 	font-style: italic;
 	font-weight: 400;
 }

body {
	box-sizing: border-box;
	background-color: #ffcd34; 
}

.wrapper {
	margin: 0 auto;

}

.header {
	max-width: 940px;
	margin: 0 auto;
	display: flex;
}

.cols-1 {
	width: 30%;
}

.cols-2 {
	width: 70%;
	display: flex;
}

.header-nav {
	width: 70%;
}

ul {
	display: flex;
	justify-content: space-between;
}

.header-btn {
	width: 30%;
}

.warning-line::after {
	content: '';
	position: absolute;
    width: 100%;
    height: 15px;
    top: 100px;
    left: 0px;
    background: linear-gradient(135deg, rgba(0,0,0, 0) 50%, #000 50%, #000 80%, rgba(0,0,0, 0) 80%), linear-gradient(135deg, #000 25%, rgba(0,0,0, 0) 25%);
    background-size: 2em 2em;
    background-color: #ffcd34;
}

.promo {
	background-image: url(../img/bg_promo.jpg);
	background-repeat: no-repeat;
}

.promo-hide {
	display: none;
}

.promo-title{
	font-family: 'PS Sans', sans-serif ;
	text-transform: uppercase;
}

.promo-subtext {
	font-family: 'PS Sans', sans-serif;
	font-size: 16px;
}

.promo-btn {
  	font-family: 'PS Sans Bold', sans-serif;
  	font-size: 14px;
  	border: 2px solid #ffcd34;
  	padding: 10px;
  	width: 220px;
}

.promo-btn a {
  text-decoration: none;
}

.promo.warning-line::after {
    top: 300px;

}

footer {
	background-color: #202e3b;
}

.__container {
	width: 940px;
	display: flex;
	margin: 0 auto;
}



