@font-face {
	font-family: "PT Sans";
	src: url(../font/PTSansRegular/PTSansRegular.woff) format("woff");
	font-style: normal;
	font-weight: 400;
}
  @font-face {
  	font-family: "PS Sans Bold";
  	src: url(../font/PTSansBold/PTSansBold.woff) format("woff");
  	font-style: normal;
  	font-weight: 700;
  }

 @font-face {
 	font-family: "PT Sans Italic";
 	src:url(../font/PTSansItalic/PTSansItalic.woff) format("woff");
 	font-style: italic;
 	font-weight: 400;
 }

body {
	box-sizing: border-box;
	background-color: #ffcd34; 
}


.wrapper {
	margin: 0 auto;

}

.header {
	max-width: 940px;
	margin: 0 auto;
	display: flex;
	box-sizing: border-box;
	padding-top: 20px;
	padding-bottom: 40px;
}

.cols-1 {
	width: 30%;
}

.cols-2 {
	width: 70%;
	display: flex;
}

.header-logo {
	position: relative;
}

.header-logo:before {
	content: '';
	position: absolute;
	background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
   	width: 47px;
    height: 36px;
    background-position: -256px -5px;
}

.header-title {
	font-family: 'PS Sans Bold', sans-serif;
	font-size: 28px;
	padding-left: 60px;
}

.header-title span {
	font-family: 'PS Sans', sans-serif;
	font-size: 28px;
	font-weight: lighter;
	letter-spacing: 1px;
}

.header-nav,
.footer-nav {
	width: 70%;
	margin-right: 30px;
}

ul {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	padding-left: 0px;
	margin: 0 auto;
}

.nav-item { 
	font-family: 'PS Sans', sans-serif;
	font-size: 14px;
	text-align: center;
	width: 80px;
	padding: 10px;
	background-color: transparent;
}

.nav-item:hover {
	background-color: #fee301;
}

.header-btn,
.footer-btn {
	box-sizing: border-box;
	width: 175px;
	/*height: 48px;*/
	padding: 10px;
	/*padding-top: 14px;*/

	text-align: center;

	background-color: #ffe083;
}

.header-btn:hover,
.footer-btn:hover {
	background-color: #fee301;
}

.header-btn a,
.footer-btn a {
	font-family: 'PS Sans', sans-serif;
	font-size: 14px;
	text-decoration: none;
	color: black;

}

.warning-line::after {
	content: '';
	position: absolute;
    width: 100%;
    height: 15px;
    top: 88px;
    left: 0px;
    background: linear-gradient(135deg, rgba(0,0,0, 0) 50%, #000 50%, #000 80%, rgba(0,0,0, 0) 80%), linear-gradient(135deg, #000 25%, rgba(0,0,0, 0) 25%);
    background-size: 2em 2em;
    background-color: #ffcd34;
}

.promo {
	background-image: url(../img/bg_promo.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.promo-container {
	width: 940px;
	margin: 0 auto;
	padding: 150px;
	box-sizing: border-box;
	text-align: center;
}

.promo-hide {
	display: none;
}

.promo-title{
	font-family: 'PS Sans', sans-serif ;
	text-transform: uppercase;
	font-size: 36px;
	color: white;
}

.promo-subtext {
	font-family: 'PS Sans', sans-serif;
	font-size: 16px;
	color: white;
	font-weight: lighter;
}

.promo-btn {
  	font-family: 'PS Sans Bold', sans-serif;
  	font-size: 16px;
  	text-align: left;
  	border: 2px solid #ffcd34;
  	margin-top: 40px;
  	padding: 10px;
  	width: 220px;
  	display: inline-block;
  	box-sizing: border-box;
  	position: relative;
}

.promo-btn:after{
	content: '';
	position: absolute;
	right: 10px;
	width: 25px;
    height: 30px;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    background-position: -225px -5px;
}

.promo-btn a {
  text-decoration: none;
  color: #e4e6e5;
}

.promo-btn a:hover {
	color: #ffcd34;
}

.promo-btn:hover {
	border: 2px solid #e4e6e5;
}

.promo.warning-line:after {
    top: 602px;
}

.advantage {
	background-color: white;
	padding-top: 20px;
	padding-bottom: 20px;
}

.icon-text {
	font-family: 'PS Sans', sans-serif;
	font-size: 12px;
	position: relative;
	padding-left: 70px;
	display: block;
}

.__icon-1:after,
.__icon-2:after,
.__icon-3:after,
.__icon-4:after {
	content: '';
	position: absolute;
	left: 0px;
    top: -1px;
    display: block;
   	width: 50px;
    height: 60px;
	background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
}

.__icon-1:after {
	background-position: 0px -5px;
}

.__icon-2:after {
	background-position: -56px -5px;
}

.__icon-3:after {
	background-position: -107px -5px;
}

.__icon-4:after {
	background-position: -155px -5px;
}

.offer {
	background-color: #f3f3f3;
	padding-top: 25px;
	padding-bottom: 25px;
}

.offer-menu,
.review-menu {
	width: 25%;
	padding-right: 40px;
}

.offer-title {
	font-family: 'PS Sans', sans-serif;
	font-size: 24px;
	margin: 0;
}

ul.offer-list,
ul.review-list {
 	display: block;
 	padding-top: 30px;
}

ul.offer-list > li,
ul.review-list > li {
	padding-bottom: 20px;
}

ul.offer-list > li > a {
	color: black;
	font-family: 'PS Sans', sans-serif;
	font-size: 16px;
}

ul.offer-list > li > a:hover  {
	color: #ffcd34;
}

.offer-tab,
.review-customer {
	width: 75%;
}

.offer.warning-line:after {
    top: 1296px;
}

.form,
.review,
footer {
	background-color: #202e3b;
	padding-top: 20px;
	padding-bottom: 20px;
}

.form.__container {
	flex-wrap: wrap;
}

.form-title {
	font-family: 'PS Sans', sans-serif;
	font-size: 16px;
	color: #ffcd34;
	padding-bottom: 30px;
}
.__container {
	width: 940px;
	display: flex;
	margin: 0 auto;
}

.review-title {
	font-family: 'PS Sans', sans-serif;
	font-size: 24px;
	margin: 0;
	color: #f3f3f3;
}

.review-list > li {
	color: #9f9fa1;
}

.review-numbers {
	font-family: 'PS Sans', sans-serif;
	font-size: 28px;
	color: #ffcd34;
}

.blockquote {
	display: flex;
	flex-wrap: wrap; 
	padding-top: 10px;
}
.row {
	display: flex;
	padding-top: 20px;
}

.col-1 {
	width: 30%;
}

.col-2 {
	width: 70%;
}

.row img {
	border-radius: 7px;
	border: 3px solid #ffcd34;
}

.footer.__container {
	padding: 20px 0;
	box-sizing: border-box;
}

.footer-logo {
	position: relative;
}

.footer:before {
	content: '';
	position: absolute;
	background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
   	width: 50px;
    height: 36px;
    background-position: -313px -5px;
}

.footer-title {
	font-family: 'PS Sans Bold', sans-serif;
	font-size: 28px;
	padding-left: 60px;
	color: #ffcd34;
}

.footer-title span {
	font-family: 'PS Sans', sans-serif;
	font-size: 28px;
	font-weight: lighter;
	letter-spacing: 1px;
}

.nav-item.__footer {
	color: #ffcd34;
}
 .nav-item.__footer:hover {
	color: black;
 }




